body
{
	font-family: sans-serif;
	font-size: 14px;
	line-height: 1.4;
	color: #333;
	margin: 40px auto;
	max-width: 750px;
}
a
{
	text-decoration: none;
}
a:hover, a:focus
{
	text-decoration: underline;
}
.list dt
{
	margin-left: 20px;
	margin-top: 10px;
	display: list-item;
}
footer
{
	position: absolute;
	margin-top: 25px;
	padding-top: 50px;
}
table
{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}
table, th, td
{
	padding: 5px;
	border: 1px solid #AAA;
}
.question-block:target
{
	animation: highlight 4s;
	-webkit-animation: highlight 4s;
}
@keyframes highlight
{
	0% {background: transparent;}
	10% {background: #f8f99a;}
	100% {background: transparent;}
}
@-webkit-keyframes highlight
{
	0% {background: transparent;}
	10% {background: #f8f99a;}
	100% {background: transparent;}
}